.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8% 1fr 22%;
  grid-template-areas: 
    "header header"
    "movie-area serie-area"
    "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: Blue;
}

.footer {
  grid-area: footer;
  background-color: Black;
}

.movie-area {
  grid-area: movie-area;
  background-color: Red;
}

.serie-area {
  grid-area: serie-area;
  background-color: Tomato;
}
