.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7% 7% 1fr 18%;
  grid-template-areas: 
    "header"
    "searcher"
    "cards"
    "footer";
  height: 100vh;

  &__searcher {
    grid-area: searcher;
    background-color: Orange;
  }

  &__cards {
    grid-area: cards;
    background-color: Red;
  }
}

